Package: mobilog
Version: 0.1-2-12
License: unknown
Architecture: amd64
Maintainer: Julien Boulnois <jboulnois@gmail.com>
Depends: libmobi-tools
Section: immateriel
Priority: optional
Homepage: https://github.com/immateriel/mobilog
Description: no description given
